@using ToDoList.Models;

<h1>To Do List</h1>

@if (Model.Count == 0)
{
  <p>There are no items in the list.</p>
  <p>The Cake Is a Lie</p>
}
<ul>
  @foreach (Item item in Model)
  {
    <li><form style="display: inline; margin-right: 1em; " action = "/items/@item.Id" method="post"><button type="submit" name="button">delete</button></form><a href='/items/@item.Id'>@item.Description</a></li>
  }
</ul>
<form action="/items/delete" method="post">
  <label for="button">I cleared them... not just the men, but the women, and the Children too... I HATE THEM! THEY'RE ANIMALS! </label>
  <button type="submit" name="button">SO I CLEARED THEM LIKE ANIMALS</button>
</form>
<a href="/items/new">Add a new Item</a>